body{
  background-color: lavenderblush;
}

.h1{
  font-family: "Snell Roundhand", cursive;
  text-align: center;

}

p{
  text-align: center;
}

.important{
  color: red;
}

.relative{
  position: relative;
  right: 300px;
}
