*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.main-container{
  background-image: linear-gradient(rgb(117, 173, 213),rgb(255, 148, 61));
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-row{
  height: 40%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.sun{
  width:150px;height:150px;
  border: solid 1px #555;
  background-color: rgb(249, 247, 126);
  box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  border-radius:100px;
  /* background-color: yellow;
  width: 100px;
 height: 100px;
 border-radius: 50% */
}

.moon{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   box-shadow: 15px 15px 0 0 rgb(249, 247, 126);
}

.bottom-row{
  height: 40%;
  display: flex;
}

.grass{
  background-color: rgb(102, 152, 96);
  width: 100vw;
  height: 90px;
  align-self: flex-end;
  border: solid 1px #555;
}
